{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="styles/otros_style.css">
  <script src="scripts/scripts.js"></script>
{% endblock %}
 {% block main %}
 {% if user.tipo == 3  %}
  {% for u in users %}
  <div class="panel">
    <div class="editarRol">
      <!-- <a href="/borrarComentario.php?id={{ comentario['id'] }}"><img src="https://icons-for-free.com/iconfiles/png/512/delete+remove+trash+trash+bin+trash+can+icon-1320073117929397588.png" /></a> -->
      <button type="button" class="editar-usuario" onclick="editarUsuario('{{ u.username }}')"><img class="img-editar" src="https://cdn.iconscout.com/icon/free/png-256/edit-2653317-2202989.png" /></button>

      <form id="{{ u.username }}" style="display:none" method="post" >
        <select name="operacion" id="operacion">
          {% for tipo in tipos %}
            {% if tipo.id == user.tipo%}
            <option value={{tipo.id}} selected>{{tipo.tipo}}</option>
            {%else %}
            <option value={{tipo.id}}>{{tipo.tipo}}</option>
            {% endif%}

          {% endfor %}
        </select><br />
        <input type="hidden" name="nick_us" value="{{ user.username }}">
        <input type="hidden" name="old_tipo" value="{{ user.tipo }}">
        <input type="submit" name="button_us" value="Change role" />
      </form>

    </div>
        <p>Usuario: {{ u.username}} </p>
        <p>Nombre: {{ u['nombre'] }}</p>
        <p>Tipo: {{ tipos[u.tipo].tipo}}</p>

  </div>

  {% endfor %}
  {% else %}
  <p> No eres superusuario </p>
  {% endif %}


  
 {% endblock %}
