<!DOCTYPE html>
<html>
<head>
<title>Musicalia</title>
<meta charset="UTF-8">
{% block head %}
<link rel="stylesheet" href="styles/portada_style.css">
{% endblock %}
</head>
<body>
    <header class="header-class">
        <div class="icon-class-div"><img class="icon-class" src="images/header_icon.png" alt="Icono de la tienda"></div>
        <div class="title-menu">
            <div class="main-title">Musicalia</div>
            <nav class="nav-header">
                <ul>
                    <li><a href="index.php">Home</a></li>
                    <li>Ofertas</li>
                    <li>Más vendido</li>
                </ul>
                
            </nav>
        </div>
        <div class="buttons">
            {% if user.tipo == -1 %} <!-- Si no hay usuario -->
            <button type="button" id="login" onclick="location.href='login.php'">Iniciar sesión</button></br>
            <button type="button" id="registro" onclick="location.href='signin.php'">Registrarse</button>

            {% else %} <!-- Si hay usuario -->
            <a href="modificar_datos_usuario.php">{{user.username}}</a></br>
            <p><a href="logout.php">Cerrar sesión</a></p>
                {% if user.tipo == 3 %}
                <a href="adminUsers.php">Administrar Usuarios</a>
                {% endif %}
            {% endif %}
        </div>
    </header>
    {% block comentarios%}
    {% endblock %}
    <main>
        {% block main %}
        <p> MAIN </p>
        {% endblock %}
    </main>

    <footer>
        <nav class="nav-footer">
            <ul>
                <li>Contacto</li>
                <li>Preguntas frecuentes</li>
                <li>Sobre Nosotros</li>
            </ul>
            
        </nav>
        <p>Copyright - @Jesús López Rodríguez</p>
    </footer>

</body>
</html> 