{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="styles/otros_style.css">
{% endblock %}

 {% block main %}
 <form method="post" action="editarProducto.php">
   <label for="nombre">Nombre:</label><br>
   <input type="text" id="nombre" name="nombre" value="{{producto.nombre}}"><br>
   <label for="subtitulo">Subtitulo:</label><br>
   <input type="text" id="subtitulo" name="subtitulo" value="{{producto.subtitulo}}"><br>
   <label for="descripcion">Descripcion:</label><br>
   <textarea cols="200" rows="15" id="descripcion" name="descripcion" value="{{producto.contenido}}" > {{producto.contenido}} </textarea> <br>

   <input type="hidden" name="id" value="{{ producto.id }}">

   <div class="imagen-principal"><img class="icono" src={{ producto.img_1 }} ></div>
   <div class="imagen-principal"><img class="icono" src={{ producto.img_2 }} ></div>

   <button type="submit" class="comm_but" id="comm_but" name="modificar_producto">Guardar</button>
 </form>

 {% for error in errores%}
    <p> {{error}} </p>
 {% endfor %}
 
 {% endblock %}
