{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="styles/otros_style.css">
    <script src="scripts/scripts.js"></script>
{% endblock %}

 {% block main %}
 <form method="post" action="editarComentario.php">
   <label for="lpro">Producto:</label><br>
   <label id="pro" name="lpro">{{comentario.producto}}<label><br>


   <label for="lautor">Autor:</label><br>
   <label id="pro" name="lautor">{{comentario.autor}}<label><br>
   <label for="lpro">Fecha:</label><br>
   <label id="pro" name="pro">{{comentario.fecha}}<label><br>
   <label for="texto">Texto:</label><br>
   <input type="text" type="text" cols="40" rows="5" id="texto" name="texto" value="{{comentario.texto}}" oninput="filtrarContenido(this.value)" size="200"><br>
   <input type="hidden" name="id" value="{{ comentario.id }}">


   <button type="submit" class="comm_but" id="comm_but" name="modificar_datos">Modificar</button>
 </form>
 
 {% endblock %}
