{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="styles/otros_style.css">
{% endblock %}

 {% block main %}
 <form method="post" action="editarProducto.php">
   <label for="nombre">Nombre:</label><br>
   <input type="text" id="nombre" name="nombre" value="{{producto.nombre}}"><br>
   <label for="subtitulo">Subtitulo:</label><br>
   <input type="text" id="subtitulo" name="subtitulo"><br>
   <label for="descripcion">Descripcion:</label><br>
   <input type="text" id="descripcion" name="descripcion"><br>

   <label for="img-principal">Imagen principal:</label><br>
   <input type="text" id="imp-principal" name="img-principal"><br>
   <label for="img-s1">Imagen segundaria:</label><br>
   <input type="text" id="img-s1" name="img-s1"><br>
   <label for="img-s2">Imagen secundaria:</label><br>
   <input type="text" id="img-s2" name="img-s2"><br>

   <button type="submit" class="comm_but" id="comm_but" name="modificar_producto">Guardar</button>
 </form>

 {% for error in errores%}
    <p> {{error}} </p>
 {% endfor %}
 
 {% endblock %}
