{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="styles/otros_style.css">
{% endblock %}
 {% block main %}
 {% if user.tipo >= 1 %}
  {% for comentario in comentarios %}
    <div class="panel">
      <p>Producto: {{ comentario['idpost'] }}</p>
      <div class="autor"><p>{{ comentario['autor'] }}</p></div>
      <div class="editarBorrarComentario">
        <a href="/borrarComentario.php?id={{ comentario['id'] }}"><img src="https://icons-for-free.com/iconfiles/png/512/delete+remove+trash+trash+bin+trash+can+icon-1320073117929397588.png" /></a>
        <img src="https://cdn.iconscout.com/icon/free/png-256/edit-2653317-2202989.png"/>
      </div>
      <div class="comentario"><p>{{ comentario['comentario'] }}</p></div>
      <div class="fechahora"><p>{{ comentario['fecha'] }}</p></div>
    </div>
  {% endfor %}
  {% endif %}
 {% endblock %}
