{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="styles/otros_style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="scripts/ajax.js"></script>
{% endblock %}
 {% block main %}
 
 <input type="text" id="searchbar" name="searchbar"><br>

 <div class="results" id="results">
  
 </div>

 <div class="productos_list" id="productos_list">
 {% if user.tipo >= 2 %}

  {% for producto in productos %}
    <div class="panel">
      <div class="imagen-principal"><img class="icono" src={{ producto.img_principal }} alt={{ item.nombre }}></div>
      <div class="nombre"><p>{{ producto['nombre'] }}</p></div>
      <div class="subtitulo"><p>{{ producto['subtitulo'] }}</p></div>
      <div class="contenido"><p>{{ producto['contenido']|nl2br }}</p></div> 
      <div class="publicado"><p>{{ estados[producto.publicado].estado}}</p></div>
      <div class="irA">
        <a href="producto.php?id={{producto.id}}">Ver producto</a>
      </div>
    </div>
    <br><br>
  {% endfor %}
  
  
  {% else %}
    {% for producto in productos %}
      {% if producto.publicado != 0 %}
      <div class="panel">
        <div class="imagen-principal"><img class="icono" src={{ producto.img_principal }} alt={{ item.nombre }}></div>
        <div class="nombre"><p>{{ producto['nombre'] }}</p></div>
        <div class="subtitulo"><p>{{ producto['subtitulo'] }}</p></div>
        <div class="contenido"><p>{{ producto['contenido']|nl2br }}</p></div> 
        <div class="irA">
          <a href="producto.php?id={{producto.id}}">Ver producto</a>
        </div>
      </div>
      <br><br>
      {% endif %}
    {% endfor %}
  
  {% endif %}
  
</div>

{% if user.tipo >= 2 %}
    <a href="/insertarProducto.php"><img class="icono" src="/images/simbolo_mas.png" /><p class="insertar"> Insertar Producto</p></a>
{% endif %}
  
 {% endblock %}
