{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="styles/otros_style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="scripts/buscarComentarios.js"></script>
{% endblock %}
 {% block main %}
 {% if user.tipo == 1 or user.tipo == 3 %}
 <input type="text" id="searchbar" name="searchbar"><br>

 <div class="results" id="results">
  
 </div>
 <div class="comentarios_list" id="comentarios_list">
  {% for comentario in comentarios %}
    <div class="panel">
      <p>{{ comentario['producto'] }}</p>
      <div class="autor"><p>{{ comentario['autor'] }}</p></div>
      <div class="comentario"><p>{{ comentario['texto'] }}</p></div>
      {% if comentario.modificado != 0 %}
      <div class="modificado"><p> Comentario modificado por un moderador </p></div>
      {% endif %}
      <div class="fechahora"><p>{{ comentario['fecha'] }}</p></div>
      <div class="editarBorrarComentario">
        <a href="/borrarComentario.php?id={{ comentario['id'] }}"><img class="icono" src="https://icons-for-free.com/iconfiles/png/512/delete+remove+trash+trash+bin+trash+can+icon-1320073117929397588.png" /></a>
        <a href="/editarComentario.php?id={{ comentario['id'] }}"><img class="icono" src="https://cdn.iconscout.com/icon/free/png-256/edit-2653317-2202989.png" /></a>
      </div>
    </div>
    <br><br>
  {% endfor %}
  </div>
  {% endif %}
 {% endblock %}
