{% extends "base.html"%}
{% block head %}
<link rel="stylesheet" href="styles/portada_style.css">
{% endblock %}

{% block main %}
<div class="elementos">
    {% for item in productos %}
        <a class="elemento" href="producto.php?id={{item.id}}">
            <img class="element-img" src={{ item.img_principal }} alt={{ item.nombre }}>
            <p class="element-title">{{ item.nombre }}</p>
        </a>
    {% endfor %}
{% if user.tipo >=2 %}
<a href="listaProductos.php"> Ver mas </a>
{% endif %}
</div>

<aside>
    <div class="aside-title">Otros enlaces de interes</div>
    <nav class="nav-aside">
        <ul>
            <li><a class="aside-ref" href="https://www.twitter.com">Twitter</a></li>
            <li><a class="aside-ref" href="https://www.facebook.com">Facebook</a></li>
            <li><a class="aside-ref" href="https://www.instagram.com">Instagram</a></li>
        </ul>
        
    </nav>
    
</aside>

{% endblock %}