{% extends "base.html"%}
{% block head %}
    <link rel="stylesheet" href="styles/producto_style.css">
    <script src="scripts/scripts.js"></script>
{% endblock %}

{% block comentarios %}

<div id="comentarios-sidepanel" class="comentarios-sidepanel">
    <a href="javascript:void(0)" class="cerrar-comentarios" onclick="esconderComentarios()">&times;</a>
    {% for comentario in comentarios %}
    <div class="comentario">
        <p class="autor-label"> Autor: </p>
        <p class="autor"> {{comentario.autor}} </p>
        <p class="date-label"> Fecha </p>
        <p class="date"> {{comentario.fecha}} </p>
        <p class="content-label"> Contenido: </p>
        <p class="content"> {{comentario.texto}} </p>
    </div>
    {% endfor %}
    {% if user.tipo >= 0 %}
        <form id="formulario-comentario" class="formulario-comentario" method="post" action="producto.php">
            <label for="coment">Comentario:</label><br>
            <input type="text" id="coment" name="coment" oninput="filtrarContenido(this.value)"><br>
            <input type="hidden" name="autor" value="{{ user.id }}">
            <input type="hidden" name="producto" value="{{ producto.id }}">
            <button type="submit" class="comm_but" id="comm_but" name="publicar_comentario">&#9776; Enviar</button>
        </form> 
    {% endif %}
</div>
{% endblock %}

{% block main %}
<div class="producto">
    
    <h1>{{ producto.nombre }}</h1>

    <h3>{{ producto.subtitulo }}</h3>

    <div class="img-container">
        <div class="img-prod">
            <img class="img-prod-2" src={{ producto.img_1 }} alt={{ producto.nombre }}> 
            <p class="img-foot">{{ producto.nombre }}</p>
        </div>
        <div class="img-prod">
            <img class="img-prod-2" src={{ producto.img_2 }} alt={{ producto.nombre }}>
            <p class="img-foot">{{ producto.nombre }}</p> 
        </div>
    </div>
    <p> {{ producto.contenido|nl2br }} </p>
   
    <a class="imprimir" href="producto_imprimir.php" target="_blank">Imprimir</a>
    <button type="button" class="mostrar-comentarios" onclick="mostrarComentariosPanel({{producto.id}})">&#9776; Comentarios</button>
</div>

<aside>
    <div class="aside-title">Otros enlaces de interes</div>
    <nav class="nav-aside">
        <ul>
            <li><a class="aside-ref" href="https://www.twitter.com">Twitter</a></li>
            <li><a class="aside-ref" href="https://www.facebook.com">Facebook</a></li>
            <li><a class="aside-ref" href="https://www.instagram.com">Instagram</a></li>
        </ul>
        
    </nav>
    
</aside>

{% endblock %}