{% extends "base.html" %}
{% block css %}
 <link rel="stylesheet" type="text/css" href="/styles/eventos.css" />
 {{ parent() }}
{% endblock %}
 {% block main %}
 {% if user.rol=="gestor" or user.rol=="superusuario" %}

  {% for evento in eventos %}
    <div class="panel">
      <p>Evento: {{ evento['id'] }}</p>
      <div class="titulo"><a href="/evento/{{ evento['id'] }}">{{ evento['nombre'] }}</a></div>
      <div class="editarBorrarComentario">
        <a href="/borrarEvento.php?id={{ evento['id'] }}"><img src="https://icons-for-free.com/iconfiles/png/512/delete+remove+trash+trash+bin+trash+can+icon-1320073117929397588.png" /></a>
        <!-- <img src="https://cdn.iconscout.com/icon/free/png-256/edit-2653317-2202989.png"/> -->
      </div>
      <div class="imagen"><img src="{{ evento['imagen'] }}"/></div>
      <div class="fechahora"><p>{{ evento['fecha'] }}</p></div>
      <div class="publicarEvento">
        {% if not evento['publicado']%}
        <a href="/publicarEvento.php?idEvento={{ evento['id'] }}">Publicar</a>
        {% else %}
        <a href="/despublicarEvento.php?idEvento={{ evento['id'] }}">Despublicar</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  {% endif %}
 {% endblock %}
