{% extends "base.html"%}
{% block head %}
    <title>Musicalia</title>
    <link rel="stylesheet" href="styles/producto_style.css">
    <script src="scripts/scripts.js"></script>
    <meta charset="UTF-8">
{% endblock %}

{% block main %}
<div class="producto">
    
    <h1>{{ producto.nombre }}</h1>

    <h3>{{ producto.subtitulo }}</h3>

    <div class="img-container">
        <div class="img-prod">
            <img class="img-prod-2" src={{ producto.img_1 }} alt={{ producto.nombre }}> 
            <p class="img-foot">{{ producto.nombre }}</p>
        </div>
        <div class="img-prod">
            <img class="img-prod-2" src={{ producto.img_2 }} alt={{ producto.nombre }}>
            <p class="img-foot">{{ producto.nombre }}</p> 
        </div>
    </div>
    <p> {{ producto.contenido }} </p>
   
    <a class="imprimir" href="producto_imprimir.php" target="_blank">Imprimir</a>
    <button type="button" class="mostrar-comentarios" onclick="mostrarComentariosPanel()">&#9776; Comentarios</button>
</div>

<aside>
    <div class="aside-title">Otros enlaces de interes</div>
    <nav class="nav-aside">
        <ul>
            <li><a class="aside-ref" href="https://www.twitter.com">Twitter</a></li>
            <li><a class="aside-ref" href="https://www.facebook.com">Facebook</a></li>
            <li><a class="aside-ref" href="https://www.instagram.com">Instagram</a></li>
        </ul>
        
    </nav>
    
</aside>

{% endblock %}